# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables (SECRETS)
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database dumps / temp
*.sqlite3
# Keep schema in repo for onboarding
!data/schema.sql

# Jupyter
.ipynb_checkpoints/

# Misc
*.tmp

# MLflow artifacts
mlruns/
mlflow.db
